<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Панель">

    <title>Панель</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">

</head>
<body>


<div class="row">
    <div class="col-12">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 p-2 bg-dark text-white ">
                    <a> Welcome anonymous!</a>
                    <a th:href="@{/logout}" class="float-right text-secondary"> Log in </a>
                </div>
            </div>
        </div>
    </div>
</div>



<SECTION>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 p-0 mt-2">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a th:href="@{/logout}" class="nav-link active">
                            Log in
                        </a>
                    </li>
                </ul>
            </div>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 bg-light hmax min-vh-100">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 ">
                    <h1>Please log in</h1>
                </div>

                <!------- Tabs content -------->

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-table" role="tabpanel"
                         aria-labelledby="nav-table-tab">

                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    There will be information about you
                                </h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>E-mail</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><span> None </span></td>
                                        <td><span> None </span></td>
                                        <td><span> None </span></td>
                                        <td><span> None </span></td>
                                        <td><span> None </span></td>
                                        <td><span> None </span></td>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</SECTION>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>


</body>
</html>